
 /*NORMALIZACION*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
:root {
     /*Palette*/
     --primary-solid: #FF3333;
     --primary-900:  rgba(255, 51, 51, 0.9);
     --primary-500:  rgba(255, 51, 51, 0.5);
     --primary-300:  rgba(255, 51, 51, 0.3);

     --secondary-solid: #1D84B5;
     --secondary-900: rgba(29, 132, 181, 0.9);
     --secondary-500: rgba(29, 132, 181, 0.5);
     --secondary-300: rgba(29, 132, 181, 0.3);

     --dark-solid: #1F1F1F;
     --dark-900: rgba(31, 31, 31, 0.9);
     --dark-500: rgba(31, 31, 31, 0.5);
     --dark-300: rgba(31, 31, 31, 0.3);

     --dark-bg-solid:#30343F;
     --light-bg-solid:#FAFAFF;
     --light-font-solid:white;

     /*Typography*/
     --base-font: "Inter", sans-serif;
     --alternative-font: "Raleway", sans-serif;

     /*Font-sizes*/
     --font-display:4.6em;
     --font-jumbo:3.8em;
     --font-xlarge:3em;
     --font-large:2.4em;
     --font-medium:1.8em;
     --font-small:1.6em;
     --font-xsmall:1.2em;

     /*Spacings*/
     --spacing-128:12.8rem;
     --spacing-68:6.8rem;
     --spacing-36:3.6rem;
     --spacing-28:2.8rem;
     --spacing-16:1.6rem;
     --spacing-12:1.2rem;
     --spacing-8:0.8rem;
    }

 /*Selector universal que todos los elementos del sitios mantengan su tamaño al cambiar padding, borde,. etc*/
*,
*::before,
*::after {
      margin:0;
      padding:0;
      box-sizing:border-box; 
}

 /*Este script convierte el em=10px*/
html {
    font-family:var(--base-font);
    font-size:62,5%;
    color: var(--dark-solid);
}

 /*Este script hace que los textos no tengan underline - tamaño - que hereden familia y color*/
a{
    text-decoration:none;
    font-size:20px;
    color:inherit; 
    font-family:inherit;
}

/*Este script hace que las listas no tengan bullets visibles*/
ul,ol {
    list-style-type:none; 
    color:white;
}

/*Este script setea las fonts del header y footer*/
header,
footer {
    font-family:var(--alternative-font);
    color:var(--light-font-solid);
}


/*Este script setea el tamaño de fuente de los parrafos*/
p{
    font-size:18px;
}
    
/*Este script setea el tamaño de los contenedores generales: main / body etc y les saca el margen
.container{
max-width:1200px; 
margin:0 auto;
}
*/


/*ELEMENTOS COMUNES - Header y Footer*/
/*Flexbox containers*/
.rectangulo-header{
display: flex;
height: 12em;
justify-content:space-around;
align-content: center;
flex-wrap: wrap;
background-color:var(--dark-solid);
}
    
.rectangulo-header img {
max-width: 100%;
}

.rectangulo-header div a {
margin: 0 3em 0 3em;
    }
    
.rectangulo-footer img {
max-width: 100%;
}

.rectangulo-footer{
display: flex;
height: 28em;
justify-content:space-around;
align-content: center;
flex-wrap: wrap;
background-color:var(--dark-solid);
}

.texto-derechos {
  color:white;
  position: relative;
  bottom: 5em;
  text-align: center;
    }
      
    
/*-------------ELEMENTOS PAGINA shop.html-----------------------------*/
/*Grid containers*/
.container-shop {
display: grid; 
grid-template-columns: 1fr;
margin-top: 3em;
}
  

.grilla-shop {
display: grid; 
grid-template-columns: 1fr;
justify-content:center;
gap: 2em;
margin-top: 3em;
margin-bottom: 3em;
margin-left: 1em;
}


.grilla-shop img {
max-width: 100%;
             }
 

.formulario{
display: grid;
grid-template-columns: 1fr;
gap: 1em;
margin-left: 3em;
}

        

/*Sticker "nuevo" sobre producto*/
.sticker-nuevo {
width: 22%;
height: 5%;
background-color:var(--primary-solid);
position: relative;
right: -70%;
text-align: center;
}

h3{
padding: .24em;
}
    
.texto-nuevo{
color:white;
font-size: 60%;
}

.texto-producto {
display: grid;
gap: .5em;
    }
    
.texto-cuotas{
color:var(--secondary-solid);
font-size: 60%;
}

/*Paginacion*/
.pagination {
display: flex;
gap: .5em;
margin-top: 3em;
margin-bottom: 3em;
justify-content: center;
}
    
.botoncito {
color:var(--light-bg-solid);
border: 1px solid var(--dark-300);
border-radius: 20%;
width: 2em;
height: 2em;
text-align: center;
padding-top: .29em;
}
    
.botoncito a {
color:#1F1F1F;
font-size: 90%;
}
    
/*Casillero formulario numeros*/
#number{
    color: #1F1F1F;
    max-width: 13%;
}
    

/*QUERIES tablet*/

@media (min-width: 768px){

    ul {
        position: relative;
        left: -2em;
        }
    
    .logo-footer {
        position: relative;
        right: -2em;
        }

        
        
    .container-shop {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 3em;
    justify-items: center;
    }   

    .grilla-shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0%;
    margin-right: 0;
    } 

    .formulario{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1em;
    }
    
    #number{
        color: #1F1F1F;
        max-width: 22%;
    }
       
    .sticker-nuevo{
    width: 40%;
    height: 6%;
    position: relative;
    right: -50%;
    text-align: center;
    }
       
    h3 {
        padding: 0;
            }

    .texto-nuevo{
    font-size: 100%;
    }


                         
}    

/*QUERIES desktop*/

@media (min-width: 1440px){

    ul {
        position: relative;
        left: -12em;
        }
    
    .logo-footer {
        position: relative;
        right: -12em;
        }

        
    .container-shop {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-top: 3em;
        justify-items: center;
        }  

    .grilla-shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 8em;
    } 

    .formulario{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 8em;
    }
    
    #number{
        color: #1F1F1F;
        max-width: 12%;
    }
       
    .sticker-nuevo{
    width: 28%;
    height: 6%;
    position: relative;
    right: -70%;
    text-align: center;
    }
    
    h3 {
        padding: .3em;
            }

    .texto-nuevo{
    font-size: 80%;
    }                      
}    


/*-------------ELEMENTOS PAGINA item.html-----------------------------*/

.container-general {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0;
    justify-items: center;
    justify-content: center;
    }   
      
    
.grilla-principal {
display: grid; 
grid-template-columns: 1fr;
justify-content:center;
gap: 2em;
margin-top: 3em;
margin-bottom: 8em;
margin-left: 1em;
width: 30%;
align-self:center;
}

.textos-producto {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 70%;
    }

.grilla-secundaria {
display: grid; 
grid-template-columns: 1fr;
justify-content:center;
justify-items: center;
gap: 2em;
margin-top: 0;
margin-bottom: 3em;
}

.comunie {
    position: relative;
    left: -2em;
    width: 110%;
    }


.sticker-nuevo-b {
    width: 20%;
    height: 5%;
    background-color:var(--primary-solid);
    position: relative;
    right: -50%;
    text-align: center;
    }
    
    h2{
        font-size:var(--font-xsmall);
        font-family: var(--alternative-font);
        padding: .24em;
        }


    .texto-nuevo-b{
    color:white;
    font-size: 40%;
    }
    
    .texto-producto-b {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5em;
  align-self: flex-start;
  margin-left: 3.4em;
        }
        
.titulo-prod-rel{
    font-size:var(--font-xsmall);
font-size: 60%;

    }

    
.comunie-b {
    width: 50%;
    position: relative;
    left: 3em;
    }


    
    .formulario-b{
        display: flex;
       margin-top: 1em;
       margin-bottom: 1.3em;
       gap: 1em;
            }



            
/*QUERIES tablet*/

@media (min-width: 768px){

    .container-general {
        margin-top: 0;
        }   
          

    .grilla-principal {
        display: grid; 
        grid-template-columns: 75% 1fr;
        justify-content:center;
        margin-top: 0;
        margin-bottom: 0;
        }

        
    .grilla-secundaria {
        display: grid; 
        grid-template-columns: 25% 25%;
        grid-template-rows: 4% 1fr 1fr;
        gap: 2em 1em;
     justify-content: center;
        }

        .item-b {
           max-width: 50%;
            }

    h2{
        display: grid;
        grid-column-start: 1;
        grid-column-end: -1;
        font-size:var(--font-small);
        font-family: var(--alternative-font);
        }
    
        .comunie {
            position: relative;
            left: -10em;
            width: 200%;
            }

            .textos-producto {
                display:flex;
                flex-direction: row;
                align-items:center;
                flex-wrap: wrap;
                font-size: 70%;
                }
             
.comunie-b {
    width: 200%;
    position: relative;
    left: -3em;
    }


    .sticker-nuevo-b {
        width: 60%;
        height: 5%;
        background-color:var(--primary-solid);
        position: relative;
        right: -80%;
        text-align: center;
        }

    
        .texto-nuevo-b{
        color:white;
        font-size: 40%;
        }

        .texto-producto-b {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: .5em;
          align-self: flex-start;
          margin-left: -0.2em;
                }  
}





    /*QUERIES desktop*/

@media (min-width: 1440px){
    .container-general {
        margin-top: 0;
        }   
          

    .grilla-principal {
        display: grid; 
        grid-template-columns: 75% 1fr;
        justify-content:center;
        margin-top: 0;
        margin-bottom: 0;
        }

        
    .grilla-secundaria {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 6% 1fr;
        gap: 2em 1em;
     justify-content: center;
        }

        .item-b {
           max-width: 50%;
            }

    h2{
        display: grid;
        grid-column-start: 1;
        grid-column-end: -1;
        font-size:var(--font-small);
        font-family: var(--alternative-font);
        }
    
        .comunie {
            position: relative;
            left: -24em;
            width: 230%;
            }

            .textos-producto {
                display:flex;
                flex-direction: row;
                font-size: 180%;
                }
             
.comunie-b {
    width: 200%;
    position: relative;
    left: -6em;
    }


    .sticker-nuevo-b {
        width: 50%;
        height: 5%;
        background-color:var(--primary-solid);
        position: relative;
        right: -80%;
        text-align: center;
        }

    
        .texto-nuevo-b{
        color:white;
        font-size: 100%;
        }

        .texto-producto-b {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: .5em;
          align-self: flex-start;
          margin-left: -0.2em;
                } 
    
}