
 /*NORMALIZACION*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
:root {
     /*Palette*/
     --primary-solid: #FF3333;
     --primary-900:  rgba(255, 51, 51, 0.9);
     --primary-500:  rgba(255, 51, 51, 0.5);
     --primary-300:  rgba(255, 51, 51, 0.3);

     --secondary-solid: #1D84B5;
     --secondary-900: rgba(29, 132, 181, 0.9);
     --secondary-500: rgba(29, 132, 181, 0.5);
     --secondary-300: rgba(29, 132, 181, 0.3);

     --dark-solid: #1F1F1F;
     --dark-900: rgba(31, 31, 31, 0.9);
     --dark-500: rgba(31, 31, 31, 0.5);
     --dark-300: rgba(31, 31, 31, 0.3);
     --dark-150: rgba(31, 31, 31, 0.15);
     --dark-000: rgba(31, 31, 31, 0.00);

     --dark-bg-solid:#30343F;
     --light-bg-solid:#FAFAFF;
     --light-font-solid:white;

     /*Typography*/
     --base-font: "Inter", sans-serif;
     --alternative-font: "Raleway", sans-serif;

     /*Font-sizes*/
     --font-display:4.6em;
     --font-jumbo:3.8em;
     --font-xlarge:3em;
     --font-large:2.4em;
     --font-medium:1.8em;
     --font-small:1.6em;
     --font-xsmall:1.2em;

     /*Spacings*/
     --spacing-128:12.8rem;
     --spacing-68:6.8rem;
     --spacing-36:3.6rem;
     --spacing-28:2.8rem;
     --spacing-16:1.6rem;
     --spacing-12:1.2rem;
     --spacing-8:0.8rem;
    }

 /*Selector universal que todos los elementos del sitios mantengan su tamaño al cambiar padding, borde,. etc*/
*,
*::before,
*::after {
      margin:0;
      padding:0;
      box-sizing:border-box; 
}

 /*Este script convierte el em=10px*/
html {
    font-family:var(--base-font);
    font-size:62,5%;
    color: var(--dark-solid);
}

 /*Este script hace que los textos no tengan underline - tamaño - que hereden familia y color*/
a{
    text-decoration:none;
    font-size:20px;
    color:inherit; 
    font-family:inherit;
}

/*Este script hace que las listas no tengan bullets visibles*/
ul,ol {
    list-style-type:none; 
    color:white;
}

/*Este script setea las fonts del header y footer*/
header,
footer {
    font-family:var(--alternative-font);
    color:var(--light-font-solid);
}


/*Este script setea el tamaño de fuente de los parrafos*/
p{
    font-size:18px;
}
    
/*Este script setea el tamaño de los contenedores generales: main / body etc y les saca el margen
.container{
max-width:1200px; 
margin:0 auto;
}
*/


/*ELEMENTOS COMUNES - Header y Footer - Mobile 320px*/
/*Flexbox containers*/
.rectangulo-header{
display: flex;
height: 12em;
justify-content:space-around;
align-content: center;
flex-wrap: wrap;
background-color:var(--dark-solid);
}
    
.logo-header img {
max-width: 60%;
position: relative;
left: 3.3em;
}

.textos-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
left: -1em;
font-size: 50%;
}

/*------------*/

.rectangulo-footer{
display: flex;
flex-direction: column;
height: 28em;
 align-items: center;
 justify-content: center;
background-color:var(--dark-solid);
        }

.textos-footer a{
display: flex;
position: relative;
bottom: 3em;
box-sizing: 6em;
}
        

.logo-footer img {
max-width: 60%;
position: relative;
top: 2em;
left: .6em;
}
            

.texto-derechos p { 
    display: flex;
    flex-wrap: wrap;
    color:white;
    position: relative;
    bottom: 7em;
    left: 5.4em;
    text-align: center;
    font-size: 70%;
    margin-top: 2em;
    }     



    
    

/*ELEMENTOS COMUNES - Header y Footer - Tablet 768px*/
/*Flexbox containers*/

@media (min-width: 768px){

    .rectangulo-header{
        display: flex;
        height: 12em;
        justify-content:space-around;
        align-content: center;
        flex-wrap: wrap;
        background-color:var(--dark-solid);
        }
            
        .logo-header img {
        max-width: 80%;
        position: relative;
        left: 0;
        }
        
        .textos-header {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
        left: -1em;
        font-size: 50%;
        }
        
        /*------------*/


.rectangulo-footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo-footer {
    max-width: 60%;
    position: relative;
    left:14em;
    bottom: 3em;
    }
    
    
    
    .textos-footer{
    position: relative;
    left:-8em;
    top:3em;
    }
    
    
    
.texto-derechos p { 
    display: flex;
    flex-wrap: wrap;
    color:white;
    position: relative;
    bottom: 7em;
    left: 8em;
    text-align: center;
    font-size: 140%;
    margin-top: 2em;
    }
}


/*ELEMENTOS COMUNES - Header y Footer - Desktop 1440px*/
/*Flexbox containers*/

@media (min-width: 1440px){

    .rectangulo-header{
        display: flex;
        height: 12em;
        align-items: center;
        background-color:var(--dark-solid);
        }
            
        .logo-header img {
        max-width: 80%;
        position: relative;
        left: 0;
        }
        
        .textos-header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
        left: -1em;
        font-size: 50%;
        gap: 7em;
        }
        
        /*------------*/


.rectangulo-footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 3em;
    margin-top: 2em;
}

.logo-footer {
    max-width: 60%;
    position: relative;
    left:28em;
    }
    
    
    
    .textos-footer{
    position: relative;
    left:-14em;
    }
    
    
    
.texto-derechos p { 
    display: flex;
    flex-wrap: wrap;
    color:white;
    position: relative;
    bottom: 9em;
    left: 23em;
    text-align: center;
    font-size: 140%;
    }
}



/*-------------ELEMENTOS PAGINA shop.html-----------------------------*/
/*-------------------QUERIES Mobile First - 320px*/



/*Grid containers*/
.container-shop {
display: grid; 
grid-template-columns: 1fr;
margin-top: 3em;
}
  

.grilla-shop {
display: grid; 
grid-template-columns: 1fr;
justify-content:center;
gap: 2em;
margin-top: 3em;
margin-bottom: 3em;
margin-left: 1em;
}


.grilla-shop img {
max-width: 100%;
             }
 

.formulario{
display: grid;
grid-template-columns: 1fr;
gap: 1em;
margin-left: 3em;
}

        

/*Sticker "nuevo" sobre producto*/
.sticker-nuevo {
width: 22%;
height: 5%;
background-color:var(--primary-solid);
position: relative;
right: -70%;
text-align: center;
}

h3{
padding: .24em;
}
    
.texto-nuevo{
color:white;
font-size: 60%;
}

.texto-producto {
display: grid;
gap: .5em;
    }
    
.texto-cuotas{
color:var(--secondary-solid);
font-size: 60%;
}

/*Paginacion*/
.pagination {
display: flex;
gap: .5em;
margin-top: 3em;
margin-bottom: 3em;
justify-content: center;
}
    
.botoncito {
color:var(--light-bg-solid);
border: 1px solid var(--dark-300);
border-radius: 20%;
width: 2em;
height: 2em;
text-align: center;
padding-top: .29em;
}
    
.botoncito a {
color:#1F1F1F;
font-size: 90%;
}
    
/*Casillero formulario numeros*/
#number{
    color: #1F1F1F;
    max-width: 13%;
}
    


/*-------------------QUERIES Tablet - 768px*/

@media (min-width: 768px){

    ul {
        position: relative;
        left: -2em;
        }
    
    .logo-footer {
        position: relative;
        right: -2em;
        }

        
        
    .container-shop {
    display: grid;
    grid-template-columns: 1fr 70%;
    margin-top: 3em;
    justify-items: center;
    }   

    .grilla-shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-end: 3;
    margin: 0%;
    margin-right: 1em;
    } 

    .formulario{
    display: grid;
    grid-column-end: 1;
    grid-template-columns: 1fr;
    margin-left: 2em;
    }
    
    #number{
        color: #1F1F1F;
        max-width: 22%;
    }
       
    .sticker-nuevo{
    width: 40%;
    height: 6%;
    position: relative;
    right: -50%;
    text-align: center;
    }
       
    h3 {
        padding: 0;
            }

    .texto-nuevo{
    font-size: 100%;
    }            
}    


/*-------------------QUERIES Desktop- 1440px*/


@media (min-width: 1440px){

    ul {
        position: relative;
        left: -12em;
        }
    
    .logo-footer {
        position: relative;
        right: -12em;
        }

        
    .container-shop {
        display: grid;
        grid-template-columns: 1fr 80%;
        margin-top: 3em;
        margin-right: 2em;
        justify-items: center;
        }  

    .grilla-shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-end: -1;
    } 

    .formulario{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-start: 1;
    margin-left: 4em;
    }
    
    #number{
        color: #1F1F1F;
        max-width: 12%;
    }
       
    .sticker-nuevo{
    width: 28%;
    height: 6%;
    position: relative;
    right: -60%;
    text-align: center;
    }
    
    h3 {
        padding: .3em;
            }

    .texto-nuevo{
    font-size: 80%;
    }                      
}    


/*-------------ELEMENTOS PAGINA item.html-----------------------------*/

/*-------------------QUERIES Mobile First - 320px*/


.container-general {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0;
    justify-items: center;
    justify-content: center;
    }   
      
    
.grilla-principal {
display: grid; 
grid-template-columns: 1fr;
justify-content:center;
gap: 2em;
margin-top: 3em;
margin-bottom: 8em;
margin-left: 1em;
width: 30%;
align-self:center;
}

.textos-producto {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 70%;
    }

.grilla-secundaria {
display: grid; 
grid-template-columns: 1fr;
justify-content:center;
justify-items: center;
gap: 2em;
margin-top: 0;
margin-bottom: 3em;
}

.comunie {
    position: relative;
    left: -2em;
    width: 110%;
    }


.sticker-nuevo-b {
    width: 20%;
    height: 5%;
    background-color:var(--primary-solid);
    position: relative;
    right: -50%;
    text-align: center;
    }
    
    h2{
        font-size:var(--font-xsmall);
        font-family: var(--alternative-font);
        padding: .24em;
        }

        .titulo80{
            position: relative;
            left: -.3em;
        }

    .texto-nuevo-b{
    color:white;
    font-size: 40%;
    }
    
    .texto-producto-b {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5em;
  align-self: flex-start;
  margin-left: 3.4em;
        }
        
.titulo-prod-rel{
    font-size:var(--font-xsmall);
font-size: 60%;

    }

    
.comunie-b {
    width: 50%;
    position: relative;
    left: 3em;
    }


    
    .formulario-b{
        display: flex;
       margin-top: 1em;
       margin-bottom: 1.3em;
       gap: 1em;
            }



        
/*-------------------QUERIES Tablet - 768px*/


@media (min-width: 768px){

    .container-general {
        margin-top: 0;
        }   
          

    .grilla-principal {
        display: grid; 
        grid-template-columns: 75% 1fr;
        justify-content:center;
        margin-top: 0;
        margin-bottom: 0;
        }

        
    .grilla-secundaria {
        display: grid; 
        grid-template-columns: 25% 25%;
        grid-template-rows: 4% 1fr 1fr;
        gap: 2em 1em;
     justify-content: center;
        }

        .item-b {
           max-width: 50%;
            }

    h2{
        display: grid;
        grid-column-start: 1;
        grid-column-end: -1;
        font-size:var(--font-small);
        font-family: var(--alternative-font);
        }
    
        .comunie {
            position: relative;
            left: -7em;
            width: 200%;
            }

            .textos-producto {
                display:flex;
                flex-direction: row;
                align-items:center;
                flex-wrap: wrap;
                font-size: 70%;
                position: relative;
                left: 3em;
                }

                .titulo80{
                    position: relative;
                    left: -.3em;
                }
             
.comunie-b {
    width: 200%;
    position: relative;
    left: -3em;
    }


    .sticker-nuevo-b {
        width: 60%;
        height: 5%;
        background-color:var(--primary-solid);
        position: relative;
        right: -66%;
        text-align: center;
        }

    
        .texto-nuevo-b{
        color:white;
        font-size: 40%;
        position: relative;
        top:.5em;
        }

        .texto-producto-b {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: .5em;
          align-self: flex-start;
          margin-left: -0.2em;
                }  
}






/*-------------------QUERIES Desktop - 1440px*/


@media (min-width: 1440px){
    .container-general {
        margin-top: 0;
        }   
          

    .grilla-principal {
        display: grid; 
        grid-template-columns: 75% 1fr;
        justify-content:center;
        margin-top: 0;
        margin-bottom: 0;
        }

        
    .grilla-secundaria {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 6% 1fr;
        gap: 2em 1em;
     justify-content: center;
        }

        .item-b {
           max-width: 50%;
            }

    h2{
        display: grid;
        grid-column-start: 1;
        grid-column-end: -1;
        font-size:var(--font-small);
        font-family: var(--alternative-font);
        }
    
        .comunie {
            position: relative;
            left: -24em;
            width: 230%;
            }

            .textos-producto {
                display:flex;
                flex-direction: row;
                font-size: 180%;
                }
             
.comunie-b {
    width: 200%;
    position: relative;
    left: -6em;
    }


    .sticker-nuevo-b {
        width: 50%;
        height: 5%;
        background-color:var(--primary-solid);
        position: relative;
        right: -60%;
        text-align: center;
        }

    
        .texto-nuevo-b{
        color:white;
        font-size: 100%;
        position: relative;
top:-.1em;
        }

        .texto-producto-b {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: .5em;
          align-self: flex-start;
          margin-left: -0.2em;
                } 
    
}



/*-------------ELEMENTOS PAGINA carrito.html-----------------------------*/

/*-------------------QUERIES Mobile First - 320px*/

        .cuerpo{
            width: 56%;
        }

.titulo-principal{
    display: grid;
    justify-items: center;
    margin: 2em 0 1.4em 2.6em;
font-size: 1.5em;
text-align: left;
}


.linea-roja{
width: 100%;
height: 6px;
background-color: #FF3333;
}


.grilla-articulo-uno {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 25% 15% 5% 10% 5% 5% 10%;
    background-color:var(--light-bg-solid);
    width: 120%;
    border: .2em solid var(--dark-150);
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    margin: 0 0 2em 3.2em;
    row-gap: 1em;
    grid-template-areas: 
    "titulo-detalle"
    "munieco"
    "texto-munieco"
    "titulo-cantidad"
    "formulario-cart"
    "titulo-total"
    "precio"
    "equis";
}

.titulo-uno{
    grid-area: titulo-detalle;
    width: 90%;
border: .14em solid var(--dark-150);
border-radius: 10px;
background-color: #FAFAFF;
    margin: 1em 0 0 0 ;
    text-align: center;
    align-self: center;
    font-size: 1.3em;
    }

.titulo-dos{
grid-area: titulo-cantidad;
width: 90%;
border: .14em solid var(--dark-150);
border-radius: 10px;
background-color: #FAFAFF;
margin: 2em 0 .6em 0;
text-align: center;
font-size: 1.3em;
}

.titulo-tres{
grid-area: titulo-total;
width: 90%;
border: .14em solid var(--dark-150);
border-radius: 10px;
background-color: #FAFAFF;
margin: 2em 0 1em 0;
text-align: center;
font-size: 1.3em;
}
    

.yodita{
    width: 110%;
    position: relative;
    left: -.8em;
    margin-top: 1.4em;
}

.textos-yodita{
font-size: 90%;
    margin-left: .6em;
    margin-top: -2.6em;

}

.equis{
    grid-area: equis;
width: 15%;
color: #FF3333;
border: 3.4px solid #FF3333;
border-radius: 50%;
text-align: center;
padding-bottom: .16em;
}

.precio-final{
    text-align: center;
}

.formulario-cart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0;
    column-gap: 1em;
    align-self: center;
    margin-top: -0.8em;
    position: relative;
left: 1.6em
}

.numerito{
    background-color: #ffffff;
    border: .2em solid var(--dark-150);
    grid-row-start: 1;
    grid-row-end: -1;
    width: 500%;
text-align: center;
padding-top: .5em;
position: relative;
left: -3.3em
}

.flecha-abajo{
    color: #FAFAFF;
    grid-column-end: -1;
    background-color:#FF3333;
    width: 100%;
    margin-top: .1em;
    text-align: center;
}

.flecha-arriba{
    color: #FAFAFF;
    grid-column-end: -1;
    background-color:#FF3333;
    width: 100%;
    margin-bottom: .1em;
    text-align: center;
}


.titulo-principal-final{
    display: grid;
    margin: 1.6em 0 .7em 1.6em;
font-size: 1.5em;
position: relative;
left: 1em;
}


.linea-roja-final{
    width: 90%;
    height: 6px;
    margin-left: .4em;
    background-color: #FF3333;
    }


.cuadro-resumen{
display: grid;
grid-template-columns: 1fr;
width: 120%;
background-color:var(--light-bg-solid);
border: .2em solid var(--dark-150);
border-radius: 12px;
margin: 0 0 1em .8em;
padding: .5em 0 1em 1em;
position: relative;
left: 2.4em;
row-gap:.6em;
    }

    .textos-derecha {
text-align: right;
margin-right: 1em;;
        }

.linea-roja-cuadro{
    grid-column-start: 1;
    grid-column-end: -1;
    height: 3px;
    background-color: #FF3333;
    margin: .5em .5em 0 0;
    }
        

.boton-pagar{
width: 120%;
height: 2.5em;
color: #FAFAFF;
background-color: #FF3333;
margin: 0 0 3em .8em ;
text-align: center;
position: relative;
left: 2.4em;
padding-top: .6em;
}  


h3 {
margin-left: -0.3em;
}

.numerito-compra{
    width: 7%;
    color: #FAFAFF;
    background-color: #FF3333;
    border-radius: 50%;
    font-size: 50%;
    text-align: center;
    position: relative;
    left: 10em;
    top: .8em;
    padding-bottom: .3em;
    }








/*-------------------QUERIES Tablet - 768px*/

@media (min-width: 768px){
    .cuerpo{
        width: 76%;
    }

.titulo-principal{
margin: 2em 0 1.4em -3em;
font-size: 1.5em;
text-align: left;
}


.linea-roja{
width: 72%;
height: 6px;
background-color: #FF3333;
position: relative;
left: 1em;
}


.grilla-articulo-uno {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 8% 44% 8% 5% 8% 5% 30%;
background-color:var(--light-bg-solid);
width: 120%;
max-height: 680px;
border: .2em solid var(--dark-150);
border-radius: 12px;
align-items: center;
justify-items: center;
margin: 0 0 2em 2.2em;
grid-template-areas: 
"titulo-detalle titulo-detalle"
"munieco descripcion"
"titulo-cantidad titulo-cantidad"
"formulari-cart formulario-cart"
"titulo-total titulo-total"
"precio precio"
"equis equis";
}

.titulo-uno{
    grid-area: titulo-detalle;
    width: 90%;
    height: 2em;
    grid-column-end: -1;
border: .14em solid var(--dark-150);
border-radius: 10px;
background-color: #FAFAFF;
    margin: 2em 0 0 0 ;
    text-align: center;
    align-self: center;
    font-size: 1.3em;
    position: relative;
    }

.titulo-dos{
grid-area: titulo-cantidad;
width: 90%;
height: 2em;
border: .14em solid var(--dark-150);
border-radius: 10px;
background-color: #FAFAFF;
margin: 2em 0 .6em 0;
padding: .2em;
text-align: center;
font-size: 1.3em;
}

.titulo-tres{
grid-area: titulo-total;
width: 90%;
height: 2em;
border: .14em solid var(--dark-150);
border-radius: 10px;
background-color: #FAFAFF;
margin: 2em 0 1em 0;
padding: .2em;
text-align: center;
font-size: 1.3em;
}

.yodita{
    width: 110%;
    position: relative;
    left: 0;
    margin-top: 3em;
    margin-left: 2em;
}

.textos-yodita{
font-size: 90%;
    margin-left: -4em;
    margin-top: 4em;

}

.textos-yodita p{
        margin-left: -.3em;
    }
    

.equis{
    grid-area: equis;
width: 6%;
height: 20%;
color: #FF3333;
border: 3.4px solid #FF3333;
border-radius: 50%;
text-align: center;
margin-top: 3em;
position: relative;
bottom: 7em;
}



.equis p{
    font-size: 1.8em;
    position: relative;
bottom: .1em;
}

.precio-final{
    grid-area: precio;
    text-align: center;
    position: relative;
}

.formulario-cart{
    display: grid;
    grid-area: formulario-cart;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0;
    column-gap: 2.2em;
    align-self: center;
    margin-top: -0.8m;
    position: relative;
bottom: -1em;
left: -9.6em;
}

.numerito{
    background-color: #ffffff;
    border: .2em solid var(--dark-150);
    grid-row-start: 1;
    grid-row-end: -1;
    width: 600%;
text-align: center;
padding-top: ;
position: relative;
left: -3.3em
}

.flecha-abajo{
    color: #FAFAFF;
    grid-column-end: -1;
    background-color:#FF3333;
    width: 140%;
    margin-top: .1em;
    text-align: center;
}

.flecha-arriba{
    color: #FAFAFF;
    grid-column-end: -1;
    background-color:#FF3333;
    width: 140%;
    margin-bottom: .1em;
    text-align: center;
}

.titulo-principal-final{
font-size: 1.5em;
position: relative;
left: 21em;
}


.linea-roja-final{
    width: 40%;
    height: 6px;
    margin-left: -1em;
    background-color: #FF3333;
    }


.cuadro-resumen{
display: grid;
grid-template-columns: 1fr;
width: 80%;
background-color:var(--light-bg-solid);
border: .2em solid var(--dark-150);
border-radius: 12px;
margin: 0 0 1em 0;
padding: .5em 0 1em 1em;
position: relative;
left: 17em;
row-gap:.6em;
    }

    .textos-derecha {
text-align: right;
margin-right: 1em;;
        }

.linea-roja-cuadro{
    grid-column-start: 1;
    grid-column-end: -1;
    height: 3px;
    background-color: #FF3333;
    margin: .5em .5em 0 0;
    }
        

.boton-pagar{
width: 80%;
height: 2.5em;
color: #FAFAFF;
background-color: #FF3333;
margin-bottom: 3em;
text-align: center;
position: relative;
left: 16.2em;
padding-top: .6em;
}  



h3 {
margin-left: -0.3em;
}

.numerito-compra{
    width: 4%;
    color: #FAFAFF;
    background-color: #FF3333;
    border-radius: 50%;
    font-size: 50%;
    text-align: center;
    position: relative;
    left: 10em;
    top: .8em;
    padding-bottom: .3em;
    }
        }



/*-------------------QUERIES Desktop - 1440px*/

@media (min-width: 1440px){  
    
        .cuerpo{
            width: 70%;
        }
    
    .titulo-principal{
    margin: 2em 0 1.4em 7em;
    font-size: 1.5em;
    text-align: left;
    position: relative;
    left: -11em;
    }
    
    
    .linea-roja{
    width: 50%;
    height: 6px;
    background-color: #FF3333;
    position: relative;
    left: .1em;
    }
    
    
    .grilla-articulo-uno {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color:var(--light-bg-solid);
    width: 120%;
    max-height: 220px;
    border: .2em solid var(--dark-150);
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    margin: 6em 0 2em 7em;
    }
    
    .titulo-uno{
        grid-column-start: 1;
        grid-column-end: 4;
        width: 168%;
        height: 3em;
    border: .14em solid var(--dark-150);
    border-radius: 10px;
    background-color: #FAFAFF;
        margin: -1em 0 0 0 ;
        padding: .3em;
        text-align: center;
        align-self: center;
        font-size: 1.3em;
        position: relative;
        top:-2em;
        left:11.6em;
        text-align: left;
        }

        .titulo-uno h3{ 
            position: relative;
            left:2em; 
            top:.2em;
        }
    
    .titulo-dos{
    height: 2em;
    border: 0 solid var(--dark-000);
    border-radius: 0px;
    background-color: var(--dark-000);
    text-align: center;
    font-size: 1.3em;
    position: relative;
    top:-10.2em;
    left:22em;

    }
    
    .titulo-tres{
    height: 2em;
    border: 0 solid var(--dark-000);
    border-radius: 0px;
    background-color: var(--dark-000);
    text-align: center;
    font-size: 1.3em;
    position: relative;
    top:-12.9em;
    left:35em;
    }
    
    .yodita{
        width: 90%;
        position: relative;
        left: -46em;
        top:4.4em;
        margin-top: 3em;
        margin-left: 2em;
    }
    
    
    .textos-yodita{
    grid-area: descripcion;
    font-size: 90%;
        position: relative;
        top:-1em;
        left:7em;
    }
    
    .equis{
        grid-area: vacio-dos;
        grid-column-start: -1;
        grid-column-end: -2;
    width: 20%;
    height: 50%;
    color: #FF3333;
    border: 4px solid #FF3333;
    border-radius: 50%;
    position: relative;
    top:-20em;
    left:3em;
    }
    
    
    
    .equis p{
        font-size: 1.6em;
        position: relative;
        bottom: 0.03em;
    }
    
    .precio-final{
        grid-area: precio;
        text-align: center;
        position: relative;
        bottom: 8em;
        left:45em;
    }
    
    .formulario-cart{
        display: grid;
        grid-area: formulario-cart;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 0;
        column-gap: 2.2em;
        align-self: center;
        margin-top: -0.8m;
        position: relative;
    bottom: 4.2em;
    left: 22.6em;
    }
    
    .numerito{
        background-color: #ffffff;
        border: .2em solid var(--dark-150);
        grid-row-start: 1;
        grid-row-end: -1;
        width: 600%;
    text-align: center;
    padding-top: ;
    position: relative;
    left: -3.3em
    }
    
    .flecha-abajo{
        color: #FAFAFF;
        grid-column-end: -1;
        background-color:#FF3333;
        width: 140%;
        margin-top: .1em;
        text-align: center;
    }
    
    .flecha-arriba{
        color: #FAFAFF;
        grid-column-end: -1;
        background-color:#FF3333;
        width: 140%;
        margin-bottom: .1em;
        text-align: center;
    }
    
    .titulo-principal-final{
    font-size: 1.5em;
    position: relative;
    left: 45em;
    }
    
    
    .linea-roja-final{
        width: 20%;
        height: 6px;
        margin-left: .2em;
        background-color: #FF3333;
        }
    
    
    .cuadro-resumen{
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    background-color:var(--light-bg-solid);
    border: .2em solid var(--dark-150);
    border-radius: 12px;
    margin: 0 0 1em 0;
    padding: .5em 0 1em 1em;
    position: relative;
    left: 45em;
    row-gap:.6em;
        }
    
        .textos-derecha {
    text-align: right;
    margin-right: 1em;
            }
    
    .linea-roja-cuadro{
        grid-column-start: 1;
        grid-column-end: -1;
        height: 3px;
        background-color: #FF3333;
        margin: .5em .5em 0 0;
        }
            
    
    .boton-pagar{
    width: 60%;
    height: 2.5em;
    color: #FAFAFF;
    background-color: #FF3333;
    margin-bottom: 7em;
    text-align: center;
    position: relative;
    left: 44.2em;
    padding-top: .6em;
    }  
    
    
    
    h3 {
    margin-left: -0.3em;
    }
    
    .numerito-compra{
        width: 4%;
        color: #FAFAFF;
        background-color: #FF3333;
        border-radius: 50%;
        font-size: 50%;
        text-align: center;
        position: relative;
        left: 10em;
        top: .8em;
        padding-bottom: .3em;
        }
            }
    

